.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.socials-container {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.contact-socials {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}