.resume-container {
    display: flex;
    justify-content: center;
}

.resume-document {
    color: #e6e6e6;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.resume-title-container {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
}

.resume-download-icon {
    width: 25px;
    height: 25px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    color: var(--quaternary-color);
    background-color: var(--secondary-background-color);
}